name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches:
      - master  # Trigger on every push to main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - uses: actions/checkout@v3

      # 2. Setup Flutter
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.3'

      # 3. Install dependencies
      - run: flutter pub get

      # 4. Build Flutter Web
      - run: flutter build web --release

      # 5. Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/web
          publish_branch: gh-pages
